/node_modules/
output/
bundle-android/
bundle-ios/
.idea/
.DS_Store
build/
*.map
*.zip
zip/*
bundle/
/native-bundle/
*.iml
*.log
.idea
.gradle/
local.properties
gradle/
.vscode/
.settings/
/buildCache
